/* Verdor prefix mixins */
/* There are 2 'themes' defined here.
   They can be applied by adding the `user` or `model` class
   to the visual component container.
*/
.itslanguage-user .itslanguage-player .itslanguage-handle,
.itslanguage-user .itslanguage-player .itslanguage-playToggle,
.itslanguage-user .itslanguage-recorder .itslanguage-recordToggle {
    /* gradient position, gradient shape and size, from, to */
    background-image: radial-gradient(30% 10%, circle cover, #dee9f3, #5581b2, #dee9f3);
    background-image: -webkit-radial-gradient(30% 10%, circle cover, #dee9f3, #5581b2, #dee9f3);
    background-image: -moz-radial-gradient(30% 10%, circle cover, #dee9f3, #5581b2, #dee9f3);
    background-image: -o-radial-gradient(circle, #dee9f3, #5581b2, #dee9f3);
    background-repeat: no-repeat;
}

.itslanguage-user .itslanguage-player .itslanguage-handle:hover,
.itslanguage-user .itslanguage-player .itslanguage-playToggle:hover,
.itslanguage-user .itslanguage-recorder .itslanguage-recordToggle:hover,
.itslanguage-user .itslanguage-player .itslanguage-handleactive,
.itslanguage-user .itslanguage-player .itslanguage-playToggleactive,
.itslanguage-user .itslanguage-recorder .itslanguage-recordToggleactive {
    box-shadow: inset 3px 5px 2px #426892;
}

.itslanguage-user .itslanguage-player .itslanguage-handle:disabled:hover,
.itslanguage-user .itslanguage-player .itslanguage-playToggle:disabled:hover,
.itslanguage-user .itslanguage-recorder .itslanguage-recordToggle:disabled:hover {
    box-shadow: none;
}

.itslanguage-model .itslanguage-player .itslanguage-handle,
.itslanguage-model .itslanguage-player .itslanguage-playToggle,
.itslanguage-model .itslanguage-recorder .itslanguage-recordToggle {
    /* gradient position, gradient shape and size, from, to */
    background-image: radial-gradient(30% 10%, circle cover, #e6e9c2, #7c842d, #e6e9c2);
    background-image: -webkit-radial-gradient(30% 10%, circle cover, #e6e9c2, #7c842d, #e6e9c2);
    background-image: -moz-radial-gradient(30% 10%, circle cover, #e6e9c2, #7c842d, #e6e9c2);
    background-image: -o-radial-gradient(circle, #e6e9c2, #7c842d, #e6e9c2);
    background-repeat: no-repeat;
}

.itslanguage-model .itslanguage-player .itslanguage-handle:hover,
.itslanguage-model .itslanguage-player .itslanguage-playToggle:hover,
.itslanguage-model .itslanguage-recorder .itslanguage-recordToggle:hover,
.itslanguage-model .itslanguage-player .itslanguage-handleactive,
.itslanguage-model .itslanguage-player .itslanguage-playToggleactive,
.itslanguage-model .itslanguage-recorder .itslanguage-recordToggleactive {
    box-shadow: inset 3px 5px 2px #585e20;
}

.itslanguage-model .itslanguage-player .itslanguage-handle:disabled:hover,
.itslanguage-model .itslanguage-player .itslanguage-playToggle:disabled:hover,
.itslanguage-model .itslanguage-recorder .itslanguage-recordToggle:disabled:hover {
    box-shadow: none;
}

/* The `user` or `model` class should also be applied within in the
   SegmentPlayer, where there's a mix of `user/model` content.
*/
.itslanguage-user .itslanguage-player .itslanguage-loading,
.itslanguage-loading.itslanguage-user {
    background-color: #5581b2;
    background-image: -moz-linear-gradient(top, #dee9f3, #5581b2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dee9f3), to(#5581b2));
    background-image: -webkit-linear-gradient(top, #dee9f3, #5581b2);
    background-image: -o-linear-gradient(top, #dee9f3, #5581b2);
    background-image: linear-gradient(to bottom, #dee9f3, #5581b2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdee9f3', endColorstr='#ff5581b2', GradientType=0);
}

.itslanguage-model .itslanguage-player .itslanguage-loading,
.itslanguage-loading.itslanguage-model {
    background-color: #7c842d;
    background-image: -moz-linear-gradient(top, #e6e9c2, #7c842d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e9c2), to(#7c842d));
    background-image: -webkit-linear-gradient(top, #e6e9c2, #7c842d);
    background-image: -o-linear-gradient(top, #e6e9c2, #7c842d);
    background-image: linear-gradient(to bottom, #e6e9c2, #7c842d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e9c2', endColorstr='#ff7c842d', GradientType=0);
}

.itslanguage-segment.itslanguage-user {
    opacity: 0.4;
    background-color: #5581b2;
    background-image: -moz-linear-gradient(top, #dee9f3, #5581b2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dee9f3), to(#5581b2));
    background-image: -webkit-linear-gradient(top, #dee9f3, #5581b2);
    background-image: -o-linear-gradient(top, #dee9f3, #5581b2);
    background-image: linear-gradient(to bottom, #dee9f3, #5581b2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdee9f3', endColorstr='#ff5581b2', GradientType=0);
}

.itslanguage-segment.itslanguage-model {
    opacity: 0.4;
    background-color: #7c842d;
    background-image: -moz-linear-gradient(top, #e6e9c2, #7c842d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e9c2), to(#7c842d));
    background-image: -webkit-linear-gradient(top, #e6e9c2, #7c842d);
    background-image: -o-linear-gradient(top, #e6e9c2, #7c842d);
    background-image: linear-gradient(to bottom, #e6e9c2, #7c842d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e9c2', endColorstr='#ff7c842d', GradientType=0);
}

.itslanguage-drop {
    width: 100px;
    height: 100px;
}

.itslanguage-drop.itslanguage-user {
    background-color: #dee9f3;
}

.itslanguage-drop.itslanguage-model {
    background-color: #e6e9c2;
}

.itslanguage-colouredSentence {
    font-family: Arial, Helvetica, sans-serif;
}

.itslanguage-colouredSentence .itslanguage-good {
    color: #39972c;
}

.itslanguage-colouredSentence .itslanguage-moderate {
    color: #f19020;
    text-decoration: underline;
}

.itslanguage-colouredSentence .itslanguage-bad {
    color: #c00817;
    text-decoration: line-through;
}

.itslanguage-colouredSentence .itslanguage-punctuation {
    color: #39972c;
}

.itslanguage-detailedScores td.itslanguage-good {
    color: #39972c;
}

.itslanguage-detailedScores td.itslanguage-moderate {
    color: #f19020;
}

.itslanguage-detailedScores td.itslanguage-bad {
    color: #c00817;
}
